<div class="edit-container">
  <form  method="POST" action="/memos/<%= @memo["id"] %>">
    <p>メモタイトルを入力:</p>
    <textarea name="title" rows="8" cols="80"><%= html_escape(@memo["title"]) %></textarea>
    <p>メモの内容を入力</p>
    <textarea name="text" rows="8" cols="80"><%= html_escape(@memo["sentence"]) %></textarea>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="submit" value="変更" class="button add" method="PATCH">
  </form>
</div>
