<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset='utf-8'>
  <!--<link rel="stylesheet" href="style.css">-->
  <title>メモアプリ</title>
</head>

<body>
    <header>
      <h1>memo</h1>
    </header>
    <main>
      <div class="memo-list">
        <h2>メモリスト</h2>
          <p><%=@memos.map{ |memo| "<a href=/memos/#{memo[0]}>#{html_escape(memo[1][:title])}</a>" }.join("<br>") %></p>
      </div>
      <div class="new-botton">
        <a href="/memos/new">
          <button type="button">新規作成</button>
        </a>
      </div>
    </main>
    <footer>
      <p>コピーライト</p>
    </footer>
</body>

</html>
