<div class="memo-list">
  <h2>メモリスト</h2>
  <% @memos.each do |memo| %>
    <p><a href="/memos/<%= memo["id"] %>"> <%= html_escape(memo["title"]) %></a></p>
  <% end %>
</div>
<div class="new-botton">
  <a href="/memos/new">
    <button type="submit">新規作成</button>
  </a>
</div>
