<div class="new-container">
  <form method="POST" action="/memos">
    <p>メモタイトルを入力:</p>
    <input type="text" name="title">
    <p>内容を入力</p>
    <textarea name="text" rows="8" cols="80"></textarea>
    <input type="submit" value="新規作成">
  </form>
</div>
