<div class="edit-container">
  <h2><%= html_escape(@memo["title"]) %></h2>
  <p><%= html_escape(@memo["sentence"]) %></p>
</div>
<div class="save-botton">
  <a href="/memos/<%= @memo_id %>/edit">
    <button>変更</button>
  </a>
  <form method="post" action="/memos/<%= @memo_id %>">
    <button type="submit" name="_method" value="DELETE">削除</button>
  </form>
</div>
